<section id="footer" class="section">
    <section class="container {{ grid_size }}">
        <p>Creado usando <a href="http://getgrav.org">Grav</a> con <i class="fa fa-heart-o pulse "></i> por Alberto Fernandez.</p>
    </section>
</section>
